<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ATC Demo with Flask</title>
		<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
		<script
			src="https://unpkg.com/algosdk@1.13.1/dist/browser/algosdk.min.js"
	 		integrity="sha384-0BSEzBpLxqFWYBI+sOGhv3W91/wPf+jFwCiuXNrC52XZav2qb3Rz+pfq3AFI0CrL"
			crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='demo.js') }}"></script>
	</head>
	<body>
		<h1>ATC Demo with Flask</h1>
		<p>Demo page for ATC.</p>
		<form>
			<label for="address">Address</label>
			<input type="text" name="address" id="address" value="" size=58 />
			<br>
			<button id="fund_algo">Send Me ALGO</button>
			<button name="deploy_app" id="deploy_app">Deploy App</button>
			<button id="demo1">Make Payment</button>
			<button id="demo2">Make Application Call</button>
		</form>
		<p></p>
	</body>
</html>
