<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ATC Demo</title>
		<script
			src="https://unpkg.com/algosdk@1.13.1/dist/browser/algosdk.min.js"
	 		integrity="sha384-0BSEzBpLxqFWYBI+sOGhv3W91/wPf+jFwCiuXNrC52XZav2qb3Rz+pfq3AFI0CrL"
			crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='demo.js') }}"></script>
	</head>
	<body>
		<h1>ATC Demo</h1>
		<p>Demo page for ATC.</p>
		<h2>Deploy Application</h2>
		<hr>
		<form>
			<label for="address">Address</label>
			<input type="text" name="address" id="address" value="" size=58 />
			<button id="fund_algo">Send Me ALGO</button>
			<button name="deploy_app" id="deploy_app">Deploy App</button>
			<button id="demo1">Demo 1</button>
			<button id="demo2">Demo 2</button>
		</form>
		<p></p>
	</body>
</html>
